* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    transition: var(--transition);
}

:root {
    scroll-behavior: smooth;
    --maincolor: #10CAB7;
    --maincolor2: #777777;
    --shadow: 0 0 10px #10cab7;
    --transition: .5s;
    --rem: 1rem;
    --padding: 60px;
}
::-webkit-scrollbar {
    background-color: #F6F6F6;
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-block: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #009688b3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #009688;
}

::selection {
    background-color: #333;
    color: var(--maincolor);
    text-shadow: 0 0 0 transparent;
}

/* Start Header */

.header {
    background-color: white;
    box-shadow: 0 0 10px #333;
    position: sticky;
    top: 0;
    z-index: 1;
}

header {
    width: 75%;
    margin: auto;
    padding: var(--rem);
    position: relative;
}

header img {
    width: 60px;
    transform-origin: left center;
    animation-name: rotate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {

    to,
    50% {
        transform: rotateY(0turn);
    }

    to {
        transform: rotateY(-1turn);
    }
}

header .link {
    width: 2rem;
    position: absolute;
    right: var(--rem);
    top: 50%;
    transform: translateY(-50%);
    direction: rtl;
}

header .link .icon {
    width: 2rem;
    height: 2px;
    margin-bottom: 5.5px;
    background-color: #333;
}

header .link .icon:nth-child(2) {
    background-color: var(--maincolor);
    width: 60%;
}

header .link:hover .icon:nth-child(2) {
    width: 2rem;
    box-shadow: var(--shadow);
}

ul {
    width: 200px;
    list-style-type: none;
    position: absolute;
    top: 35px;
    direction: ltr;
    display: none;
}

.link:hover ul {
    display: block;
}

ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    transition: var(--transition);
}

ul li {
    background-color: #f6f6f6;
}

ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: 1px solid transparent;
}

ul:hover::before {
    border-color: transparent transparent var(--maincolor) transparent;
}

ul li a {
    display: block;
    height: 100%;
    padding: var(--rem);
    text-decoration: none;
    color: #333;
}

ul li:hover {
    border-bottom: 1px solid var(--maincolor);
}

ul li:hover a {
    padding-left: calc(var(--rem) + 15px);
    color: var(--maincolor);
    text-shadow: var(--shadow);
}

/* End Header */
/* Start text */

.bground {
    height: calc(100vh - 60px);
    background-image: url(../landing.jpg);
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}

.text {
    width: 335px;
    max-width: 100vw;
    text-align: center;
    padding: 10px;
}

.text>h1 {
    font-size: 55px;
    color: var(--maincolor);
    user-select: none;
}

.text>h1:hover {
    text-shadow: 0 0 20px var(--maincolor);
}

.text>p {
    display: inline-block;
    font-size: large;
    margin-top: 20px;
    line-height: 1.5;
    max-width: 90%;
}

@media (max-width:350px) {
    .text>h1 {
        font-size: 45px;
    }

    .text>p {
        font-size: smaller;
        max-width: 90%;
    }
}

/* End text */
/* Start Features */
.features {
    background-color: #F6F6F6;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 60px;
}

.container .feat {
    display: grid;
    text-align: center;
    align-content: center;
}

.container .feat h3 {
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 20px;
    user-select: none;
    animation: shadow 5s alternate infinite;
}

.container .feat p {
    color: var(--maincolor2);
    line-height: 1.8;
}

.container .feat i {
    color: var(--maincolor);
    justify-self: center;
}

.container .feat i:hover {
    text-shadow: 0 0 100px var(--maincolor);
}

@media screen and (max-width:350px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@keyframes shadow {

    from,
    50% {
        text-shadow: 0 0 0 var(--maincolor);
    }

    to {
        text-shadow: 0 0 100px var(--maincolor);
        color: var(--maincolor);
    }
}

/* End Features */
/* Start Services */

.services,
.portfolio,
.about,
.contact {
    padding-top: calc(var(--padding) + 10px);
    padding-bottom: calc(var(--padding) + 10px);
    text-align: center;
    scroll-margin-top: 60px;
}

.services *,
.portfolio *,
.about *,
.contact * {
    line-height: .65;
    color: var(--maincolor2);
    font-size: 20px;
    text-shadow: var(--shadow);
}

.services h2,
.portfolio h2,
.about h2,
.contact h2 {
    font-size: 100px;
    color: #ebeced;

}

.services:target h2,
.portfolio:target h2,
.about:target h2,
.contact:target h2 {
    animation: text-shadow 2s;
}

@keyframes text-shadow {
    50% {
        text-shadow: 0 0 200px var(--maincolor);
        color: var(--maincolor);
    }
    100%{
        text-shadow: var(--shadow);
        color: #ebeced;
    }
}

@media (max-width:540px) {
    .services h2 {
        font-size: 80px;
    }
}

@media (max-width:350px) {
    .services h2 {
        font-size: 50px;
    }
}

.services-content {
    width: 1200px;
    max-width: 100%;
    padding: var(--padding);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 60px;
    margin-bottom: 60px;
}

.services-content .image {
    grid-area: 1/3/3/4;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.services-content .image img {
    width: 260px;
    height: 350px;
}

.services-content .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 450px;
    top: -50px;
    right: -50px;
    background-color: #2C4755;
    z-index: -1;
}

.services-content>div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 32px 1fr;
    column-gap: 20px;
}

.services-content div h3 {
    user-select: none;
    animation: shadow 5s alternate infinite;
}

.services-content div i {
    color: var(--maincolor);
    grid-area: 1/1/3/2;
    align-self: start;
    animation: rotate-icon 15s both infinite linear;
}

@keyframes rotate-icon {
    70% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    80% {
        transform: rotateX(180deg) rotateY(1turn);
    }

    90%,
    95% {
        transform: rotateX(1turn) rotateY(1turn);
        text-shadow: 0 0 0 var(--maincolor);
    }

    100% {
        transform: rotateX(1turn) rotateY(1turn);
        text-shadow: 0 0 100px var(--maincolor);
    }
}

.services-content div p {
    color: var(--maincolor2);
    padding-top: 20px;
}

@media (max-width:1250px) {
    .services-content {
        width: 1100px;
        gap: 60px;
    }

    .services-content .image {
        display: none;
    }

}


@media (max-width:1100px) {
    .services-content {
        width: 900px;
    }
}

@media (max-width:900px) {
    .services-content {
        grid-template-columns: 1fr 1fr;
    }

    .services-content div {
        grid-template-columns: auto;
        grid-template-rows: 32px 42px;
        text-align: center;
    }

    .services-content div h3 {
        padding-top: 20px;
    }

    .services-content div i {
        grid-area: auto;
    }
}

@media (max-width:683px) {
    .services-content {
        padding: 15px;
        grid-template-columns: 1fr;
    }
}

/* End Services */
/* Start Portfolio */

.portfolio {
    padding-top: calc(var(--padding) + 20px);
    padding-bottom: 20px;
}

.portfolio h2 {
    line-height: .7;
}

.portfolio p {
    line-height: .8;
    color: var(--maincolor2);
}

.portfolio-content {
    width: 1200px;
    max-width: 100%;
    padding: var(--padding);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio-container {
    background-color: #F6F6F6;
}

.portfolio-content div {
    background-color: white;
}

.portfolio-content div *:not(img) {
    margin: 20px;
}

.portfolio-content div h3 {
    animation: shadow 5s alternate infinite;
    user-select: none;
}

.portfolio-content div p {
    color: var(--maincolor2);
}

.portfolio-content img {
    max-width: 100%;
}

@media (max-width:1200px) {
    .portfolio-content {
        width: 1000px;
    }
}

@media (max-width:1000px) {
    .portfolio-content {
        width: 800px;
        padding: 15px;
        gap: 15px;
    }

    .portfolio {
        padding-bottom: calc(var(--padding) + 20px);
    }
}

@media (max-width:540px) {
    .portfolio h2 {
        font-size: 80px;
    }

    .portfolio-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width:350px) {
    .portfolio h2 {
        font-size: 50px;
        line-height: .6;
    }

    .portfolio-container .portfolio p {
        padding: 0 10px;
        line-height: .9;
    }
}

/* End Portfolio */
/* Start About */

.about {
    padding-top: calc(var(--padding) + 20px);
}

.about-content {
    width: 1200px;
    max-width: 100%;
    padding: calc(var(--padding) - 30px);
    margin: auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 45% 1fr;
}

.about-content .image {
    width: 250px;
    max-width: 100%;
    height: 375px;
    position: relative;
    margin-bottom: var(--padding);
}

.about-content img {
    max-width: 100%;
}

.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 455px;
    background-color: #ebeced;
    top: -40px;
    left: -25px;
    z-index: -1;
}

.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--maincolor);
    border-bottom: 80px solid var(--maincolor);
    top: -40px;
    right: -150px;
    z-index: -1;
}

.about-content>div:last-child {
    display: grid;
    align-content: start;
    position: relative;
}

.about-content>div:last-child * {
    line-height: 2;
}

.about-content>div:last-child p:first-of-type {
    padding-bottom: var(--padding);
    font-weight: bold;
}

.about-content>div:last-child p:last-of-type {
    padding-top: calc(var(--padding) - 30px);
    color: var(--maincolor2);
}

.about-content>div:last-child hr {
    width: 50%;
    border-bottom: 2px solid var(--maincolor);
}

@media (max-width:1200px) {
    .about-content {
        width: 900px;
        max-width: 100%;
        padding: var(--padding);
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .about-content>div:last-child hr {
        justify-self: center;
    }

    .about-content>div:last-child p {
        padding: calc(var(--padding) - 30px);
    }

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}

@media (max-width:540px) {
    .about-content {
        padding: 15px;
    }

    .about-content>div:last-child p {
        padding: 0;
    }
}

@media (max-width:350px) {
    .about h2 {
        font-size: 50px;
        line-height: .6;
    }

    .about p {
        padding: 0 10px;
        line-height: .9;
    }

    .about-content>div:last-child p {
        font-size: 12px;
    }
}

/* End About */
/* Start Contact */

.contact-container {
    background-color: #F6F6F6;
    padding-bottom: var(--padding);
}

.contact-container > div:last-child {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding-bottom: var(--padding);
}

.contact-container > div:last-child p {
    color: #2c4755;
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: -2px;
}

.contact-container > div:last-child a {
    color: var(--maincolor);
    font-size: xx-large;
    font-weight: 800;
}

.contact-container > div:last-child div {
    color: var(--maincolor2);
}

.contact-container > div:last-child div i {
    cursor: pointer;
    margin-left: 5px;
}

.contact-container > div:last-child div i:first-child {
    color: red;
}

.contact-container > div:last-child div i:first-child:hover {
    text-shadow: 0 0 20px red;
}

.contact-container > div:last-child div i:nth-child(2) {
    color: #056cbd;
}

.contact-container > div:last-child div i:nth-child(2):hover {
    text-shadow: 0 0 20px #056cbd;
}
.contact-container > div:last-child div i:last-child {
    color: #2196f3;
}

.contact-container > div:last-child div i:last-child:hover {
    text-shadow: 0 0 20px #2196f3;
}

@media (max-width:540px) {
    .contact-container {
        padding: 15px;
    }

    .contact-container .contact h2 {
        font-size: 80px;
    }

    .contact-container > div:last-child p {
        font-size: x-large;
    }

    .contact-container > div:last-child a {
        font-size: x-large;
    }
}

@media (max-width:350px) {
    .contact-container .contact h2 {
        font-size: 50px;
        line-height: .6;
    }

    .contact-container .contact p {
        padding: 0 10px;
        line-height: .9;
    }

    .contact-container > div:last-child p {
        font-size: large;
    }

    .contact-container > div:last-child a {
        font-size: large;
    }

    .contact-container > div:last-child div {
        font-size: x-small;
    }
}

/* End Contact */
/* Start Footer */

footer {
    padding-top: calc(var(--padding) - 35px);
    padding-bottom: calc(var(--padding) - 35px);
    background-color: #2c4755;
    color: white;
    font-size: large;
    font-weight: bold;
}

footer marquee span {
    color: var(--maincolor);
    font-weight: 800;
}

@media (max-width:540px) {
    footer {
        font-size: medium;
    }
}

@media (max-width:350px) {
    footer {
        font-size: smaller;
    }
}

/* End Footer */
